:root{
  --color-bg:#FAACA8;
  --color-text:white;
  --color-muted:#b1b1e5;
  --color-1:#915ce5;
  --color-2:#DDD6F3;
}

body{
  font-family: 'Merriweather', serif;
  color:var(--color-bg);
}

.sans-serif{
  font-family: 'Raleway', sans-serif;

}

.bottom-gutter{
  margin-bottom: 10%;
}

.transparent{
  	background-color: transparent;
}

.illustration {
    width:70%;
    margin:5%;
}
.illustration2 {
    width:50%;
}

svg path {
    fill: var(--color-bg);
}

.fill-page{
  width:100vw;
  height:100vh;
}
.half-page{
  width:100vw;
  height:50vh;
}

.quarter-page{
  width:100vw;
  height:50vh;
}

.center-justify{
  -moz-osx-font-smoothing: grayscale;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -webkit-justify-content: center;
  display: -webkit-flex;
}

.center-column{
  text-align: center;
  padding-left: 15%;
  padding-right:15%
}
.bg-custom{
  /*background-color: var(--color-bg);*/
  background: linear-gradient(90deg, var(--color-bg), var(--color-2));
  color:var(--color-text);
}

.bg-flat1{
  /*background-color: var(--color-bg);*/
  background-color: var(--color-bg);
  color:var(--color-text);
}
.bg-flat2{
  /*background-color: var(--color-bg);*/
  background-color: var(--color-2);
  color:var(--color-text);
}

.padded{
  padding: 10%;
}

.fill-viewport{
  min-height:100vh;
}

.centered{
  text-align:center;
}
.row{
  display:flex;
  text-align:center;
}

.hoverable{
  transition: all .2s ease-in-out;
}
.hoverable:hover { transform: scale(1.1); }

.pill-button{
  font-size:1.5rem;
  padding:1rem;
  font-weight:bold;
  border-radius: 500px;
  border:none;
  margin:.5rem;
}

.bg-negative{
  background-color:var(--color-text);
  color:var(--color-bg);
}

.text-transparent{
  background: linear-gradient(90deg, var(--color-bg), var(--color-2));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.text-soft{
  color:var(--color-muted);
}

.footer{
  padding-left: 10%;
  padding-right:10%;
  margin-top:-80px;
}
@media only screen and (max-width: 768px) {
  .footer{
    margin-top: -10px;
  }
  .mobile-margin{
    margin-bottom: 10%;
  }
}
.link-box {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  transition: all .2s ease-in-out;
}

.link-box:hover {
  transform: scale(1.1);
  color: inherit; /* blue colors for links too */
  text-decoration: inherit;
}

.divider{
  /*background-color:var(--color-bg);*/
}
