<div class="ui card" style='text-align:left;'>
  <form class="ui form" style='margin:10px;' id='signup-form'>
    <div class="field">
      <label style='margin-left:1em;'>Name</label>
      <input name="name" placeholder="Your Name" type="text" id='name'>
    </div>
    <div class="field">
      <label style='margin-left:1em;'>Email</label>
      <input name="email" placeholder="Your Email" type="text" id='email'>
    </div>
    <div class="field">
          <label style='margin-left:1em;'>I want prompts for</label>
          <div class="ui selection dropdown">
              <input name="track" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">Select One</div>
              <div class="menu">
                  <div class="item" data-value="0">Creative Writing</div>
                  <div class="item" data-value="1">Journalistic Writing</div>
                  <div class="item" data-value="2">Professional Writing</div>
              </div>
          </div>
      </div>
    <center>
    <p style='color:#aaa;'>Finish signing up with Medium.com. <br style='line-height:0px;'><a href='/why-medium'>Why Medium?</a></p>
    <button class="ui large  button blue" ype="submit" style='text-align:center'>Continue</button>
  </center>
  </form>
</div>
